* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100vh;
  font-size: 62.5%;
}

body {
  height: 100%;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center ;
}

.btn {
  display: block;
  width: 6rem;
  height: 3rem;
  position: absolute;
  bottom: 10%;
}